/Others
.env
.cache
/.ipynb_checkpoints
/Data/*.xlsx
/Data/*.csv
/KnowledgeGraph/Lyrics/*.xlsx
/KnowledgeGraph/Lyrics/*.pkl
/KnowledgeGraph/Lyrics/*.csv
/KnowledgeGraph/Lyrics/tokenized_data.pkl
!Data/lastfm_user_clean.csv
!Data/unique_songs_clean.csv
!Data/song_details_clean.csv
